* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  border: none; }

.wrapper {
  background-color: #30799B;
  height: 100vh;
  width: 100vw;
  position: relative; }
  .wrapper .login {
    min-width: 500px;
    min-height: 350px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: #b9cdd9;
    border-radius: 30px;
    box-shadow: 0 0 30px #fff; }
    .wrapper .login .error {
      position: relative;
      top: 40px;
      font-size: 1.5rem;
      text-align: center;
      color: darkred;
      text-transform: uppercase; }
    .wrapper .login .correct {
      position: relative;
      top: 40px;
      font-size: 1.5rem;
      text-align: center;
      color: black;
      text-transform: uppercase; }
    .wrapper .login .userLogin {
      margin-top: 10px;
      display: flex;
      width: 100%;
      flex-direction: column;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .wrapper .login .userLogin label {
        width: 50%;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        margin: 10px auto 0 auto;
        font-weight: lighter; }
      .wrapper .login .userLogin input {
        font-size: 2rem;
        text-align: center;
        width: 70%;
        height: 35px;
        margin: 0 auto;
        border-radius: 30px; }
      .wrapper .login .userLogin .buttonlogin {
        font-size: 2rem;
        width: 50%;
        height: 35px;
        margin: 15px auto;
        border-radius: 30px;
        background: #30799B; }
    .wrapper .login .userElement {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%); }
      .wrapper .login .userElement a {
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        margin: 5px;
        color: #444444; }

.wrapper {
  position: relative; }

div a i {
  color: #fff;
  margin: 30px;
  font-size: 2rem; }

.conteiner {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .conteiner h1 {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    margin-bottom: 50px; }
  .conteiner p {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    height: 80px;
    line-height: 80px; }
  .conteiner .rejestration {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto; }
    .conteiner .rejestration .userRejstration label {
      font-size: 2rem;
      display: block;
      text-align: center;
      margin-bottom: 6px;
      margin-top: 12px;
      color: #fff;
      text-transform: uppercase;
      font-weight: lighter; }
    .conteiner .rejestration .userRejstration input {
      font-size: 2rem;
      padding: 5px;
      width: 100%;
      text-align: center;
      border-radius: 20px; }
    .conteiner .rejestration .userRejstration .buttonRegistration {
      display: block;
      font-size: 2rem;
      padding: 5px 20px;
      background-color: #68c0b9;
      position: absolute;
      margin-top: 20px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 15px;
      text-transform: uppercase;
      cursor: pointer; }
    .conteiner .rejestration .userRejstration .buttonRegistration:hover {
      background-color: red; }

.nav {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative; }
  .nav .menu {
    width: 60%;
    position: relative; }
    .nav .menu button {
      margin: 0 30px;
      font-size: 2rem;
      padding: 10px 5px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-transform: uppercase;
      background-color: transparent;
      color: #ffffff; }
    .nav .menu button:active {
      color: #000000; }
  .nav .info {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0; }
    .nav .info p {
      margin: 0 30px;
      font-size: 2rem;
      text-transform: uppercase;
      color: #ffffff;
      line-height: 80px; }
      .nav .info p span {
        text-transform: capitalize;
        font-size: 2rem; }
    .nav .info a {
      margin: 0 30px;
      font-size: 2rem;
      height: 2rem;
      line-height: 80px;
      text-decoration: none;
      text-transform: uppercase;
      background-color: transparent;
      color: #ffffff; }
    .nav .info a:active {
      color: #000000; }

.translator {
  margin: 50px auto;
  width: 80%; }
  .translator form {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    position: relative; }
    .translator form .element {
      margin: 0 30px; }
      .translator form .element select {
        margin: 10px 0;
        font-size: 1.5rem; }
      .translator form .element input {
        font-size: 2rem;
        width: 300px;
        height: 80px;
        text-align: center; }
      .translator form .element input::placeholder {
        color: #a2a2a2; }
      .translator form .element .wordElement {
        display: block;
        font-size: 2rem;
        width: 300px;
        height: 80px;
        line-height: 80px;
        background-color: #fff;
        text-align: center; }
    .translator form button {
      position: absolute;
      height: 30px;
      padding: 5px 10px;
      font-size: 2rem;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }

.list_element {
  width: 20%;
  margin: 0 auto;
  list-style: none; }
  .list_element h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 15px; }
  .list_element li {
    font-size: 2rem;
    text-align: center;
    margin: 5px 0;
    text-transform: uppercase;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
