<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Nauka może być przyjemna</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <form class="login" id="login_form" action="{{url_for('user')}}" method="POST">
            <p class="error">{{error_user}}</p>
            <p class="correct">{{correct}}</p>
            <div class="userLogin">
                <label for= "email" >Email</label>
                <input type="email" id="email" name="email" >
                <label for="password">Hasło</label>
                <input type="password" id="password" name="password">
                <button class ='buttonlogin' type="submit">Zaloguj</button>
            </div>
            <div class="userElement">
                <a  href="registration">Zarejestruj się</a>
<!--                <a  href="reset.html">Resetuj hasło</a>-->
            </div>

        </form>

    </div>
</body>
</html>