<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="wrapper">
    <div><a href="/"><i class="fa-solid fa-house"></i></a></div>
    <div class="conteiner">
        <h1>Cześć bardzo nam miło, że chcesz do nas dołączyć</h1>
          <form class="rejestration" id="rejestration" action="" method="POST">
                <div class="userRejstration">
                    <label for= "email" >Podaj swojego maila</label>
                    <input type="email" id="email" name="email" >
                    <label for="password">Podaj hasło do logowania</label>
                    <input type="password" id="password" name="password">
                    <label for="passwordSecond">Powtórz hasło do logowania</label>
                    <input type="password" id="passwordSecond" name="passwordSecond">
                    <label for="user_name">Podaj swoje imie</label>
                    <input type="text" id="user_name" name="user_name">
                    <button class ='buttonRegistration' type="submit">Zarejestruj się</button>
                </div>
          </form>
    </div>
</div>

<script src="https://kit.fontawesome.com/9953ef2c2d.js" crossorigin="anonymous"></script>
</body>
</html>