<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrapper">
            <div class="nav">
                <div class="menu">
                    <button id="translator">Translator</button>
<!--                <button id="fiszki">Fiszki</button>-->
                </div>
                <div class="info">
                    <p>Witaj <span>{{name}}</span></p>
                    <a href="/">Wyloguj</a>
                </div>
            </div>
            <div class="translator">
                <form action="" method="POST">
                    <div class="element">
                        <select name="firstOpt" id="firstOpt">
                            <option value="pl">Polski</option>
                            <option value="en">Angielski</option>
                        </select>
                        <input type="text" id="word" name="word" value="{{wordElement}}">
                    </div>
                    <div class="element">
                        <select name="secondOpdt" id="secondOpdt">
                            <option value="pl">Polski</option>
                            <option value="en">Angielski</option>
                        </select>
                        <div class="wordElement">{{transElement}}</div>
                    </div>
                    <button type="submit" id="tlumacz">tłumacz</button>
                </form>

            </div>
            <ul class="list_element">
                <h1>Twoje poznane słowa</h1>
                {% for element in element_list %}
                <li class="element">{{element}}</li>
                {% endfor %}
            </ul>
    </div>

</body>
</html>